$margin: 16px;
$bgcolor:#dddddd;
$color:red;
menu{
    float:right;
    margin-right:$margin;
    padding: $margin/2;
    background-color: $bgcolor;       
}
#menu1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

#menu1 li {
    float: left;
}

#menu1 li a {
    color:$color;  
}









